/* MAIN MACETAS */

.macetasMain {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    .filtrarMacetasContainer {
        display: flex;
        justify-content: center;
        margin: 20px;
        .categoriasMacetas {
                display: flex;
                flex-direction: column;
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 15px;
                &:hover {
                    transform: scale(0.95);
                }
                a {
                    color: map-get($colores, negroclarito);
                    &:active {
                        color: #57d66e;
                    }
                }
            }
        }
        .filtrarMacetas {
            display: flex;
            align-items: center;
            margin-left: 50px;
            select {
                font-size: 15px;
            }
        }
    }
    .productosMacetas {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;
        article {
            margin: 5px 10px;
            border: 3px solid map-get($colores, gris);
            border-radius: 5px;
            transition: all 0.25s;
            &:hover {
                transform: scale(0.95);
                cursor: pointer;
            }
            img {
                border-bottom: 3px solid map-get($colores, gris);
                height: 190px;
            }
            h4 {
                text-align: center;
                font-size: 15px;
                margin-top: 5px !important;
            }
            h6 {
                text-align: center;
                font-size: 12px;
                margin-bottom: 5px !important;
            }
        }
    }
}

/* MEDIA QUERIES */ 

@media screen and (min-width: 768px) {
    
    .macetasMain {
        flex-direction: row;
        padding-top: 50px;
        .filtrarMacetasContainer {
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
            .categoriasMacetas {
                h2 {
                font-size: 28px;
                }
                h3 {
                    font-size: 18px;
                }
            }
            .filtrarMacetas {
                margin-top: 25px;
                margin-left: 0;
                select {
                    font-size: 18px;
                }
            }
        }
        .productosMacetas{
            article {
                img {
                    height: 220px;
                }
                h4 {
                    font-size: 18px;
                }
                h6 {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {

    .macetasMain {
        .filtrarMacetasContainer{
            padding-left: 50px;
            padding-right: 50px;
            .categoriasMacetas {
                h2 {
                    font-size: 35px;
                }
                h3 {
                    font-size: 24px;
                }
            }
            .filtrarMacetas {
                select {
                    font-size: 24px;
                }
            }
        }
        .productosMacetas {
            article {
                img {
                    height: 300px;
                }
                h4 {
                    font-size: 22px;
                }
                h6 {
                    font-size: 18px;
                }
            }
        }
    }
}

/* END MAIN MACETAS */